*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.hd{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #9ebfbf;
}
.title{
    display: flex;
    align-items: center;
}
img{
    width: 3rem;
    margin: 1rem;
}